.container {
    padding: 0;
}
  
.main {
  min-height: 70vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  @media screen and (max-width: 768px) {
    .main{
      min-height: auto;
    }
  }