.formWrapper {
    width: 100%;
    max-width: 800px;

    display: inline-flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.formWrapper input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}