.navContainer{
    padding : 0;
    margin : 0;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
}

.topBar {
    display: inline-flex;
    align-items: center;
    padding: 0px 50px;

    width: 100%;
    height: 100%;

    min-height: 50px;

    font-weight: lighter;
    font-size: .5rem;
    
}

.bottomBar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;

    width: 100%;
    height: 100px;

    min-height: 100px;
    max-height: 150px;
}

.buttomBar nav {
    width: auto;
}

.logo a{
    display: flex;
    align-items: center;
    flex-direction: row;

    margin: 10px 0;
}

.logo img {
    width: 50px;
    height: 50px;
}
.logo h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.2rem;
}

.bottomBar nav ul {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
   
    width: 100%;
    height: 100%;

    min-height: 50px;

}

.bottomBar nav ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;

    width: auto;
    height: 100%;

    min-height: 80px;
}

.extendedImage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    min-height: 500px;
    max-height: 500px;
    background-color: rgb(23, 23, 23);

    overflow: hidden;
}

.extendedImage img {
    width: 100%;
    height: 100%;
    
    background-color: rgb(206, 206, 206);
    filter: brightness(0.4);
}

.extendedImage h1 {
    position: absolute;
    top: 40%;
    left: 20%;
    -webkit-text-stroke: 1px #fff;
}

.subNav {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    justify-self: flex-start;

    width: 80%;
    height: 100%;

    min-height: 50px;
    padding: 0px 50px;
}
.subNav ul {
    width: auto;
    height: auto;
}
.subNav ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    
    width: auto;
    height: auto;
}

.subNav ul li:nth-child(n+2)::before {
    content: "/";
    display: inline-block;
    margin: 0 20px 0 0;
}

@media (max-width: 720px) {
    .navContainer{
      width: 100%;
      flex-direction: column;
    }
    .topBar {
        flex-direction: column;
        padding: 10px 20px;
    }
    .bottomBar {
        flex-direction: column;
        padding: 10px 0px;
        width: 100%;
        height: auto;
    }
    .bottomBar br {
        display: none;
    }
    .bottomBar nav {
        flex-direction: row;
        width: auto;
        max-height: 250px;
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;
    }
    .bottomBar nav ul {
        width: 100%;
        max-height: 100px;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .bottomBar nav ul li {
        width: 100%;
        max-height: 100px;
        padding: 0px 10px 0px 10px;
    }
}